/**
 * RESETS
 */
@mixin reset-button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;

  &:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }

  &:active {
    outline: none;
    border: none;
  }
  
  &:focus {
    outline: 0;
  }
}


/**
 * UTIL
 */
@mixin visually-hidden {
position: absolute; 
overflow: hidden; 
clip: rect(0 0 0 0); 
height: 1px; 
width: 1px; 
margin: -1px; 
padding: 0; 
border: 0;
}


/**
 * LAYOUT
 */
.container-outer {
  padding: 0 20px;
}

.container-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}