@use './partials/_helpers';

/**
 * COMPONENT VARIABLES
 */
$hamburger-line-height: 4px;
$hamburger-line-radius: 4px;
$hamburger-width: 40px;
$hamburger-height: 34px;


.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #111;
}

.nav-bar__site-title {
  margin: 0;
  color: #fff;
}

.nav-bar__items {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background: rgb(29,33,30);
  background: radial-gradient(circle at -20% 180%, rgba(29,33,30,1) 0%, rgba(39,48,41,1) 18%, rgba(17,17,17,1) 49%); 
  top: 56px;
  transition: all 0.3s ease-in-out;
  padding: 20px 20px 60px;
  list-style: none;
  text-align: center;
  color: #fff;
}

.nav-bar__item {
  transform: scale(0.1);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  margin-top: 2em;
}

.nav-bar__submenu-items { list-style: none; }

.nav-bar__submenu-item { margin-top: 1.5em; }

.nav-bar__menu-button {
  @include helpers.reset-button;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  font-size: 16px;
  color: #fff;
  transition: color 0.6s;

  &:hover,
  &:focus { cursor: pointer; }
}

.nav-bar__hamburger {
  position: relative;
  width: $hamburger-width;
  height: $hamburger-height;
}

.nav-bar__hamburger-1,
.nav-bar__hamburger-2,
.nav-bar__hamburger-3,
.nav-bar__hamburger-4 {
  background: #fff;
  width: $hamburger-width;
  height: $hamburger-line-height;
  border-radius: $hamburger-line-radius;
  position: absolute;
  left: 0;
}

.nav-bar__hamburger-1 {
  top: 0;
  transition: margin 0.2s ease-in, top 0.2s ease-in, opacity 0.2s;
}

.nav-bar__hamburger-4 {
  bottom: 0;
  transition: margin 0.2s ease-in, bottom 0.2s ease-in, opacity 0.2s;
}

.nav-bar__hamburger-2,
.nav-bar__hamburger-3 {
  top: 50%;
  margin-top: calc(-#{$hamburger-line-height} / 2);
  transition: transform 0.1s ease-in;
}


/**
 * MENU OPEN
 */
.open {
  .nav-bar__menu-button { color: #ddf; }
  .nav-bar__items { opacity: 1; }
  
  .nav-bar__item {
    transform: scale(1);
    opacity: 1;
  }
  
  .nav-bar__hamburger-1 {
    top: 50%;
    margin-top: calc(-#{$hamburger-line-height} / 2);
    opacity: 0;
  }
  
  .nav-bar__hamburger-4 {
    bottom: 50%;
    margin-bottom: calc(-#{$hamburger-line-height} / 2);
    opacity: 0;
  }
  
  .nav-bar__hamburger-2 { transform: rotate(45deg); }
  .nav-bar__hamburger-3 { transform: rotate(-45deg); }
} 