@use './partials/_helpers';

/**
 * COMPONENT VARIABLES
 */
$hamburger-line-height: 4px;
$hamburger-line-radius: 4px;
$hamburger-width: 40px;
$hamburger-height: 34px;


/**
 * MISC
 */
.nav-bar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #111;
  border-bottom: 1px solid #333;
}

.nav-bar__site-title {
  margin: 0;
  flex: 1 1 0%; //IE11
  color: #fff;
}


/**
 * NAV MENU
 */
.nav-bar__categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  margin: 0;
  width: 100%;
  height: 0;
  background: #111; 
  background-image: radial-gradient(closest-side at 50% 40%, #111 80%,  hsl(200, 40%, 10%) 100%);
  background-size: 100% 500%;
  background-position: center 40%;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;
  list-style: none;
  text-align: center;
  color: #fff;
}

.nav-bar__category {
  transform: scale(0.1);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  //overflow: hidden;
  margin-top: 2em;
}

.nav-bar__items {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}

.nav-bar__title {
  font-weight: 400;
  color: #ddd;
}

.nav-bar__item {
  position: relative;
  margin-top: 1.5em;
  background-image: linear-gradient(#111, #111), linear-gradient(#111, #111), linear-gradient(#111, #111), linear-gradient(#fff, #fff);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center, center, center, center;
  background-size: calc(100% - 4px) calc(100% - 4px), 100% calc(100% - 20px), calc(100% - 20px) 100%, 100%;

  &--active {
    ::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: #fff;
    }
  }

  &:hover,
  &:focus {
    cursor: pointer;
    & .nav-bar__link {
      background: transparent;
      text-shadow: -3px -2px 2px hsl(200, 50%, 60%), -6px -4px 3px hsl(200, 50%, 90%);
      font-weight: 400;
    }
  }
}

.nav-bar__link {
  font-weight: 200;
  background: #111;
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 8px 16px;
  transition-property: font-weight, text-shadow;
  transition-timing-function: ease;
  transition-duration: 0.2s, 0.1s;
}


/**
 * MENU BUTTON
 */
.nav-bar__menu-button {
  @include helpers.reset-button;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  font-size: 16px;
  color: #fff;
  transition: color 0.6s;

  &:hover,
  &:focus { cursor: pointer; }
}



/**
 * HAMBURGER
 */
.nav-bar__hamburger {
  position: relative;
  width: $hamburger-width;
  height: $hamburger-height;
}

.nav-bar__hamburger-1,
.nav-bar__hamburger-2,
.nav-bar__hamburger-3,
.nav-bar__hamburger-4 {
  background: #fff;
  width: $hamburger-width;
  height: $hamburger-line-height;
  border-radius: $hamburger-line-radius;
  position: absolute;
  left: 0;
}

.nav-bar__hamburger-1 {
  top: 0;
  transition: margin 0.2s ease-in, top 0.2s ease-in, opacity 0.2s;
}

.nav-bar__hamburger-4 {
  bottom: 0;
  transition: margin 0.2s ease-in, bottom 0.2s ease-in, opacity 0.2s;
}

.nav-bar__hamburger-2,
.nav-bar__hamburger-3 {
  top: 50%;
  margin-top: calc(-#{$hamburger-line-height} / 2);
  transition: transform 0.1s ease-in;
}


/***************** STATE *************************/
/**
 * MENU OPEN
 */
 .nav-bar.open {
  .nav-bar__categories {
    min-height: calc(100vh - 74px - 80px);// hardcode to account for header & footer heights
    height: auto;
    padding: 20px 20px 60px;
    opacity: 1;
  }
  
  .nav-bar__category {
    transform: scale(1);
    opacity: 1;
  }
  
  .nav-bar__hamburger-1 {
    top: 50%;
    margin-top: calc(-#{$hamburger-line-height} / 2);
    opacity: 0;
  }
  
  .nav-bar__hamburger-4 {
    bottom: 50%;
    margin-bottom: calc(-#{$hamburger-line-height} / 2);
    opacity: 0;
  }
  
  .nav-bar__hamburger-2 { transform: rotate(45deg); }
  .nav-bar__hamburger-3 { transform: rotate(-45deg); }
} 