{% set page = "about" %}
{% extends "../layout.njk" %}


{% block bodyContent %}
  <div class="container-outer">
    <div class="container-inner">
      <h1>{{ page }}</h1>
    </div>
  </div>
{% endblock %}
