{% extends "../layout.njk" %}

{% block extraHeadTags %}
  <link rel="stylesheet" href="../src/styles/index.scss">
{% endblock %}

{% block bodyContent %}
  <h1>Home must chasaaange {{ x }}</h1>
{% endblock %}

{% block bodyEndScripts %}
  <script src="../src/js/index.js"></script>
{% endblock %}
