<svg width="533" height="264" viewBox="0 0 533 264" fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <g id="mh-home" clip-path="url(#clip0)">
    <rect width="533" height="264" fill="white" fill-opacity="0"/>
    <text id="text-opcraft" fill="#00FF00" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="124" letter-spacing="0em">
      <tspan x="92" y="237.883">opcraft</tspan>
    </text>
    <text id="text-ark" fill="#00FF00" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="124" letter-spacing="0em">
      <tspan x="112" y="122.883">ark</tspan>
    </text>
    <g id="appertures" fill-opacity="0.5">
      <rect id="rect4" x="210" y="193" width="59" height="37" fill="#FF0000"/>
      <rect id="rect3" x="64" y="193" width="44" height="71" fill="#FF0000"/>
      <rect id="rect2" x="210" y="79" width="59" height="37" fill="#FF0000"/>
      <rect id="rect1" x="57" y="79" width="59" height="37" fill="#FF0000"/>
    </g>
    <g id="big-h">
      <line id="line14" x1="302" y1="68" x2="302" y2="264" stroke="#FF0000" stroke-width="10"/>
      <line id="line13" x1="27.9818" y1="162.015" x2="306.982" y2="161" stroke="#FF0000" stroke-width="10"/>
      <line id="line12" x1="25" y1="68" x2="25" y2="264" stroke="#FF0000" stroke-width="10"/>
    </g>
    <g id="big-m">
      <line id="line11" x1="5" y1="88" x2="90" y2="5" stroke="#FF0000" stroke-width="10"/>
      <line id="line10" x1="84" y1="5" x2="166" y2="88" stroke="#FF0000" stroke-width="10"/>
      <line id="line9" x1="160" y1="88" x2="246" y2="5" stroke="#FF0000" stroke-width="10"/>
      <line id="line8" x1="238" y1="5" x2="322" y2="88" stroke="#FF0000" stroke-width="10"/>
    </g>
    <g id="small-h">
      <line id="line7" x1="79" y1="150" x2="79" y2="238" stroke="#00FF00" stroke-width="10"/>
      <line id="line6" x1="28" y1="193" x2="82.0093" y2="193" stroke="#00FF00" stroke-width="10"/>
      <line id="line5" x1="25" y1="150" x2="25" y2="238" stroke="#00FF00" stroke-width="10"/>
    </g>
    <g id="small-m">
      <line id="line4" x1="25" y1="123" x2="25" y2="36" stroke="#00FF00" stroke-width="10"/>
      <line id="line3" x1="99" y1="123" x2="99" y2="36" stroke="#00FF00" stroke-width="10"/>
      <line id="line2" x1="60" y1="116" x2="25" y2="38" stroke="#00FF00" stroke-width="10"/>
      <line id="line1" x1="99" y1="38" x2="64" y2="116" stroke="#00FF00" stroke-width="11"/>
    </g>
  </g>
  <defs>
    <clipPath id="clip0">
      <rect width="533" height="264" fill="white"/>
    </clipPath>
  </defs>
</svg>
