<nav class="nav-bar" aria-label="Main Navigation">
  <div class="nav-bar__top">
    <h2 class="nav-bar__site-title">markhopcraft</h2>
    {% include './svg/mh-home.njk' %}
  
    <button class="nav-bar__menu-button" aria-expanded="false" aria-controls="nav-bar__categories">
      <div class="nav-bar__hamburger">
        <span class="nav-bar__hamburger-1"></span>
        <span class="nav-bar__hamburger-2"></span>
        <span class="nav-bar__hamburger-3"></span>
        <span class="nav-bar__hamburger-4"></span>
      </div>
      menu
    </button>
  </div>
  
  <ul id="nav-bar__categories" class="nav-bar__categories" aria-hidden="true">
    <li class="nav-bar__category">
      <h3 class="nav-bar__title">General</h3>
      <ul class="nav-bar__items">
        {% for item in pages.general %}
          <li class="nav-bar__item {% if page == item.name %}nav-bar__item--active{% endif %}">
            <a class="nav-bar__link" href={{ item.href }}>{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>

    <li class="nav-bar__category">
      <h3 class="nav-bar__title">Front End Projects</h3>
      <ul class="nav-bar__items">
        {% for item in pages.frontEndProjects %}
          <li class="nav-bar__item {% if page == item.name %}nav-bar__item--active{% endif %}">
            <a class="nav-bar__link" href={{ item.href }}>{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>

    <li class="nav-bar__category">
      <h3 class="nav-bar__title">Back End Projects</h3>
      <ul class="nav-bar__items">
        {% for item in pages.backEndProjects %}
          <li class="nav-bar__item {% if page == item.name %}nav-bar__item--active{% endif %}">
            <a class="nav-bar__link" href={{ item.href }}>{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>